@model List<Weapon>
@{
    ViewData["Title"] = "Weapon Shop";
}

<div class="container my-4 text-center rounded-4 px-4 py-3 bg-body-secondary border">
    <h2 class="page-header">Available Weapons</h2>
    <hr />

    <a role="button" class="btn btn-success fw-semibold my-3" asp-action="WeaponAdd">Request New Weapon</a>

    <div class="table-responsive mb-3">
        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th>Cost</th>
                    <th>Name</th>
                    <th>Damage</th>
                    <th>Weight</th>
                    <th>Purchase?</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Weapon weapon in Model)
                {
                    <tr>
                        <td>@weapon.Cost</td>
                        <td>@weapon.Name</td>
                        <td>@weapon.Damage</td>
                        <td>@weapon.Weight</td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <input type="hidden"
                                       name="@nameof(Weapon.WeaponId)" value="@weapon.WeaponId" />

                                <button type="submit" class="btn btn-outline-success btn-sm">
                                    Buy
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>