@model List<Bounty>
@{
    ViewData["Title"] = "Current Bounties";
}

<div class="container my-4 text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <hr />

    <a asp-action="Add"><b class="btn btn-success fw-semibold my-3">Add new Bounty</b></a>

    <div class="table-responsive mx-auto">
        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Reward</th>
                    <th>Difficulty</th>
                    <th>Status</th>
                    <th>Change Status</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Bounty bounty in Model)
                {
                    <tr>
                        <td>@bounty.Name</td>
                        <td>@bounty.Description</td>
                        <td>@bounty.Reward</td>
                        <td>@bounty.Difficulty.ToString()</td>
                        <td>@bounty.Status.ToString()</td>
                        <td>
                            <div class="d-grid gap-2 d-md-block">
                                <button type="button" class="btn btn-flat btn-sm change-status"
                                    data-url="@Url.Action("ChangeStatus", "Bounty", new { bountyId = bounty.Id, newStatus = StatusType.Open })">
                                    Open
                                </button>
                                <button type="button" class="btn btn-flat info btn-sm change-status"
                                    data-url="@Url.Action("ChangeStatus", "Bounty", new { bountyId = bounty.Id, newStatus = StatusType.Pending })">
                                    Pending
                                </button>
                                <button type="button" class="btn btn-flat success btn-sm change-status"
                                    data-url="@Url.Action("ChangeStatus", "Bounty", new { bountyId = bounty.Id, newStatus = StatusType.Completed })">
                                    Completed
                                </button>
                                <button type="button" class="btn btn-flat danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#confirm-delete-modal" data-label="@bounty.Name"
                                    data-url="@Url.Action("Delete", "Bounty", new { bountyId = bounty.Id })">
                                    Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="confirm-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirm-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="confirm-label">Confirm Deletion</h1>
            </div>
            <div class="modal-body">Are you sure you want to delete <span class="label fw-semibold"></span>?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-modal danger" id="confirm-delete-btn">Yes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="module" vite-src="~/bounty_actions.ts"></script>
}
